.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
  }

/*Первый заголовок*/
.first-title {
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: #333;
}

/*Второй заголовок*/
.second-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 46px;
  color: #333;
}

/*Третий заголовок*/
.third-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #333;
}

/*Параграфы*/
.text {
  margin-top: 0;
  margin-bottom: 40px;
  width: 872px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #333;
}

/*2 серых блока, содержание и итог*/
.gray-box {
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
}

/*Нижний отступ, кроме последнего*/
.gray-box:not(:last-child) {
  margin-bottom: 40px;
}

/*Параграфы серых блоков*/
.gray-box .text {
  width: 692px;
  margin-bottom: 10px;
  margin-top: 0;
}

/*Стилизация списка, родитель*/
.list-style {
  padding-left: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

/*Элементы списка, дочерние, кроме последнего*/
.list-elements:not(:last-child) {
  margin-bottom: 20px;
}

/*Элементы списка, дочерние, все*/
.list-elements {
  border-bottom: 1px solid #3f2aff;
  font-size: 20px;
  color: #3f2aff;
}

/*Изображения*/
.image {
  margin-bottom: 40px;
}

/*Селектор для figure*/
.figure-style {
  font-size: 0;
  display: inline-block;
  margin: 0;
  margin-bottom: 40px;
  width: 872px;
}

.figcaption-style {
  border-bottom: 1px solid #b6b6b6;
  padding-top: 19px;
  padding-bottom: 19px;
  font-weight: 400;
  font-size: 14px;
  text-align: center
}

/*Синий параграф*/
.principle {
  border-radius: 20px;
  padding: 50px 95px;
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  background-color: #3f2aff;
  color: white;
}

/*Первый серый блок, картинка*/
.first-block {
  background-image: url("../img/decorate-1.png");
  background-position: right center;
  background-repeat: no-repeat;
}

/*Второй серый блок, картинка*/
.second-block {
  background-image: url("../img/decorate-2.png");
  background-position: right center;
  background-repeat: no-repeat;
}

/*Цвет точек для списка  (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧   */
ul li::marker {
  color: normal;
}
