html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: 'font', sans-serif;
}

@font-face {
	font-family: 'Arial-BoldMT';
	src: local('Arial-BoldMT'), local('Arial-BoldMT'),
		url('/fonts/Arial-BoldMT.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'ArialMT';
	src: local('ArialMT'), local('ArialMT'),
		url('/fonts/ArialMT.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
